<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      LocalPromo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-item>
        <ion-label position="floating" >Email</ion-label>
        <ion-input ngModel type="email" [(ngModel)]="usuario.email" name="email"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="floating" >Senha</ion-label>
        <ion-input ngModel type="password" [(ngModel)]="usuario.senha" name="senha"></ion-input>
      </ion-item>
      <ion-button type="submit" expand="full" color="primary" (click)="login()">Login</ion-button>
    
    <p text-right routerLink = "/nova-senha" >Esqueceu a senha ?</p>
    <ion-button type="submit"  expand="full" color="primary"  routerLink = "/nova-senha" >Nova Senha</ion-button>
    <p text-center>Não tem uma conta?</p>
    <ion-button expand="full" color="primary" routerLink = "/cadastro"> Registrar</ion-button>


</ion-content>
