.profile-pic {
    padding: 10px 10px 10px 10px;
    width: 6em;
    height: 6em;
}

.grid-cell {
    transition: all 0.3s;
}

.div{
    overflow:hidden;
    position:relative;
}

.div-img{
    position:absolute;
}