<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="feed"></ion-back-button>
      </ion-buttons>
      <ion-title slot="start">Conversas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    
    <ion-item>
      <ion-label>
        <h2>Bolo com ingredientes faltando</h2>
        <p color="medium">M&M Confeitaria</p>
      </ion-label>
      <ion-avatar slot="start">
        <img src="https://www.w3schools.com/howto/img_avatar.png">
      </ion-avatar>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Revisão de taxas</h2>
        <p color="medium">DoceSabor Confeitaria</p>
      </ion-label>
      <ion-avatar slot="start">
        <img src="https://www.learningindrops.com.br/assets/img/img_avatar2.png">
      </ion-avatar>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Entregas realizadas 09/2020</h2>
        <p color="medium">Mari Doces</p>
      </ion-label>
      <ion-avatar slot="start">
        <img src="https://lh3.googleusercontent.com/proxy/iOcmPOwxJfGniZ9x1Q41Fc0nCIakhC5ZVvCNdpq6KsVAl8IUhO7AG0rqgdMQWNSiVwmKjavnbvsDojfYdzwmGTwTsz3-sww">
      </ion-avatar>
    </ion-item>

    <ion-item>
      <ion-label onclick="">
        <h2>Documentos Pendentes</h2>
        <p color="medium">Doce Forma</p>
      </ion-label>
      <ion-avatar slot="start">
        <img src="https://www.w3schools.com/bootstrap4/img_avatar6.png">
      </ion-avatar>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Pedidos não finalizados</h2>
        <p color="medium">Dolceria</p>
      </ion-label>
      <ion-avatar slot="start">
        <img src="https://lh3.googleusercontent.com/proxy/mCKX2R64WpKnAmZUzBlGvvOvEV23PaoOR6_BWEpCsILOmpxlazhjhFd9nFt2FFK0bDYY0MPDjwJbtKeT">
      </ion-avatar>
    </ion-item>

  </ion-list>

</ion-content>
