<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="feed"></ion-back-button>
      </ion-buttons>
      <ion-title slot="start">Conversas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    
    <ion-item>
      <ion-buttons slot="end">
        <ion-button routerLink="/chat">
          <ion-icon slot="icon-only" name="paper-plane"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-label>
        <h2>Bolo com ingredientes faltando</h2>
        <p color="medium" >M&M Confeitaria</p>
      </ion-label>
      <ion-avatar slot="start">
        <img src="https://www.w3schools.com/howto/img_avatar.png">
      </ion-avatar>
    </ion-item>

    <ion-item>
      <ion-buttons slot="end">
        <ion-button routerLink="/chat">
          <ion-icon slot="icon-only" name="paper-plane"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-label>
        <h2>Revisão de taxas</h2>
        <p color="medium">DoceSabor Confeitaria</p>
      </ion-label>
      <ion-avatar slot="start">
        <img src="https://www.learningindrops.com.br/assets/img/img_avatar2.png">
      </ion-avatar>
    </ion-item>

    <ion-item>
      <ion-buttons slot="end">
        <ion-button routerLink="/chat">
          <ion-icon slot="icon-only" name="paper-plane"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-label>
        <h2>Entregas realizadas 09/2020</h2>
        <p color="medium">Mari Doces</p>
      </ion-label>
      <ion-avatar slot="start">
        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pngwing.com%2Fpt%2Ffree-png-zyjhv&psig=AOvVaw1GTIeMv3lnmrTk8flOzzkl&ust=1607395211873000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCMjEpP_ruu0CFQAAAAAdAAAAABAI">
      </ion-avatar>
    </ion-item>

    <ion-item>
      <ion-buttons slot="end">
        <ion-button routerLink="/chat">
          <ion-icon slot="icon-only" name="paper-plane"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-label onclick="">
        <h2>Documentos Pendentes</h2>
        <p color="medium">Doce Forma</p>
      </ion-label>
      <ion-avatar slot="start">
        <img src="https://www.w3schools.com/bootstrap4/img_avatar6.png">
      </ion-avatar>
    </ion-item>

    <ion-item>
      <ion-buttons slot="end">
        <ion-button routerLink="/chat">
          <ion-icon slot="icon-only" name="paper-plane"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-label>
        <h2>Pedidos não finalizados</h2>
        <p color="medium">Dolceria</p>
      </ion-label>
      <ion-avatar slot="start">
        <img src="https://lh3.googleusercontent.com/proxy/mCKX2R64WpKnAmZUzBlGvvOvEV23PaoOR6_BWEpCsILOmpxlazhjhFd9nFt2FFK0bDYY0MPDjwJbtKeT">
      </ion-avatar>
    </ion-item>

  </ion-list>

</ion-content>
