<ion-card>
  <img [src]="photo?.photo_url" alt="">
  <ion-card-content>
    <ion-row class="ion-align-items-center">
      <ion-col size="auto">
        <ion-avatar class="feed-avatar">
          <img [src]="photo?.user?.photo_url" alt="">
        </ion-avatar>
      </ion-col>
      <ion-col>
        <ion-card-title>{{photo?.user?.name}}</ion-card-title>
        <ion-card-subtitle>{{photo?.place}}</ion-card-subtitle>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-bottom">
      <ion-col size="auto" class="ion-no-padding">
        <ion-button fill="clear" color="danger" (click)="photo.liked = !photo.liked">
          <ion-icon [class.novo-like]="photo?.liked" slot="icon-only" [name]="photo?.liked ? 'heart' : 'heart-outline'">
          </ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="auto" class="ion-no-padding">
        <ion-button fill="clear">
          <ion-icon slot="icon-only" name="chatbubble-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="auto" class="ion-no-padding" style="margin-left: auto">
        <ion-button fill="clear">
          <ion-icon slot="icon-only" name="bookmark-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      {{photo?.description}}
    </ion-row>
    <ion-row *ngFor="let i of photo?.comment">
      <ion-col size="2">
        <ion-avatar class="feed-comment-avatar">
          <img [src]="i.photo_url" alt="">
        </ion-avatar>
      </ion-col>
      <ion-col padding-left size="8">
        <ion-row text-size="9px">
          {{i.autor}}
        </ion-row>
        <ion-row>
          {{i.message}}
        </ion-row>
      </ion-col>
      <ion-col>
        <button ion-button icon-only clear item-right style="background-color: transparent;">
          <ion-icon slot="icon-only" name="close-outline"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <ion-item class="comentario">
      <ion-label position="floating">Deixe o seu comentário</ion-label>
      <ion-input [(ngModel)]="input"></ion-input>
      <button ion-button icon-only clear item-right slot="end" style="background-color: transparent;"
        (click)="novoComentario(input)">
        <ion-icon name="send-sharp" slot="end" class="icon"></ion-icon>
      </button>
    </ion-item>
    <br>
    <small>
      Ver todos os {{photo?.comment?.length}} comentários
    </small>
  </ion-card-content>
</ion-card>